 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 131px;
}

.u-section-1 .u-group-1 {
  width: 1124px;
  min-height: 1265px;
  height: auto;
  margin: 45px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-icon-1 {
  height: 276px;
  width: 276px;
  background-image: none;
  margin: 38px auto 0 412px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 62px 383px 0 359px;
}

.u-section-1 .u-btn-1 {
  font-size: 4.5rem;
  border-style: solid;
  margin: 569px auto 0 222px;
}

.u-section-1 .u-form-1 {
  height: 451px;
  width: 1142px;
  margin: -736px -1px 60px;
}

.u-section-1 .u-btn-2 {
  font-size: 4.5rem;
  letter-spacing: 1px;
  font-family: Allerta;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 345px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 291px;
    margin-left: 267px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 38px;
    padding: 0;
  }

  .u-section-1 .u-form-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 264px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 181px;
    margin-left: 157px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 198px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 91px;
    margin-left: 67px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 125px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}