<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Individual consultation">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>A&K LOGISTTIC</title>
    <link rel="next" href="login.html" >
    <link rel="icon"
          href="/images/favicon.ico">
    <link rel="stylesheet" href="/static/css/nicepage.css" th:href="@{css/nicepage.css}" media="screen">
    <link rel="stylesheet" href="/static/css/Page-2.css" th:href="@{css/Page-2.css}" media="screen">
    <meta name="generator" content="Nicepage 3.30.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          th:href="@{https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i}">
    <link id="u-page-google-font" rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
          th:href="@{https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i}">


    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="index">
    <meta property="og:type" content="website">
</head>

<body class="u-body">


<section class="u-align-center u-clearfix u-palette-2-base u-section-1" id="sec-85e4">
    <div class="u-align-left u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">


                    </div>
                </div>
            </div>
        </div>

        <div class="u-list u-list-2">
            <div class="u-repeater u-repeater-2">
                <div class="u-container-style u-list-item u-palette-2-base u-radius-20 u-repeater-item u-shape-round u-list-item-2">
                    <div class="u-container-layout u-similar-container u-container-layout-2">


                        </p>
                    </div>
                </div>
            </div>
        </div>






        <a
                class="u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-1 u-radius-50 u-btn-3" th:href="@{/}" >LOGOUT</a>
        <div class="u-social-icons u-spacing-17 u-social-icons-1">
            <a class="u-social-url" title="facebook" target="_blank" href="https://facebook.com/name"><span
                    class="u-icon u-social-facebook u-social-icon u-text-white"><svg class="u-svg-link"
                                                                                     preserveAspectRatio="xMidYMin slice"
                                                                                     viewBox="0 0 112 112" style=""><use
                    xlink:href="#svg-2e4f"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0"
                                                            id="svg-2e4f"><path fill="currentColor" d="M75.5,28.8H65.4c-1.5,0-4,0.9-4,4.3v9.4h13.9l-1.5,15.8H61.4v45.1H42.8V58.3h-8.8V42.4h8.8V32.2
c0-7.4,3.4-18.8,18.8-18.8h13.8v15.4H75.5z"></path></svg></span>
            </a>
            <a class="u-social-url" title="twitter" target="_blank" href="https://twitter.com/name"><span
                    class="u-icon u-social-icon u-social-twitter u-text-white"><svg class="u-svg-link"
                                                                                    preserveAspectRatio="xMidYMin slice"
                                                                                    viewBox="0 0 112 112" style=""><use
                    xlink:href="#svg-c508"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0"
                                                            id="svg-c508"><path fill="currentColor" d="M92.2,38.2c0,0.8,0,1.6,0,2.3c0,24.3-18.6,52.4-52.6,52.4c-10.6,0.1-20.2-2.9-28.5-8.2
	c1.4,0.2,2.9,0.2,4.4,0.2c8.7,0,16.7-2.9,23-7.9c-8.1-0.2-14.9-5.5-17.3-12.8c1.1,0.2,2.4,0.2,3.4,0.2c1.6,0,3.3-0.2,4.8-0.7
	c-8.4-1.6-14.9-9.2-14.9-18c0-0.2,0-0.2,0-0.2c2.5,1.4,5.4,2.2,8.4,2.3c-5-3.3-8.3-8.9-8.3-15.4c0-3.4,1-6.5,2.5-9.2
	c9.1,11.1,22.7,18.5,38,19.2c-0.2-1.4-0.4-2.8-0.4-4.3c0.1-10,8.3-18.2,18.5-18.2c5.4,0,10.1,2.2,13.5,5.7c4.3-0.8,8.1-2.3,11.7-4.5
	c-1.4,4.3-4.3,7.9-8.1,10.1c3.7-0.4,7.3-1.4,10.6-2.9C98.9,32.3,95.7,35.5,92.2,38.2z"></path></svg></span>
            </a>
            <a class="u-social-url" title="instagram" target="_blank" href="https://instagram.com/name"><span
                    class="u-icon u-social-icon u-social-instagram u-text-white"><svg class="u-svg-link"
                                                                                      preserveAspectRatio="xMidYMin slice"
                                                                                      viewBox="0 0 112 112" style=""><use
                    xlink:href="#svg-9d85"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0"
                                                            id="svg-9d85"><path fill="currentColor" d="M55.9,32.9c-12.8,0-23.2,10.4-23.2,23.2s10.4,23.2,23.2,23.2s23.2-10.4,23.2-23.2S68.7,32.9,55.9,32.9z
	 M55.9,69.4c-7.4,0-13.3-6-13.3-13.3c-0.1-7.4,6-13.3,13.3-13.3s13.3,6,13.3,13.3C69.3,63.5,63.3,69.4,55.9,69.4z"></path><path
                    fill="#FFFFFF"
                    d="M79.7,26.8c-3,0-5.4,2.5-5.4,5.4s2.5,5.4,5.4,5.4c3,0,5.4-2.5,5.4-5.4S82.7,26.8,79.7,26.8z"></path><path
                    fill="currentColor" d="M78.2,11H33.5C21,11,10.8,21.3,10.8,33.7v44.7c0,12.6,10.2,22.8,22.7,22.8h44.7c12.6,0,22.7-10.2,22.7-22.7
	V33.7C100.8,21.1,90.6,11,78.2,11z M91,78.4c0,7.1-5.8,12.8-12.8,12.8H33.5c-7.1,0-12.8-5.8-12.8-12.8V33.7
	c0-7.1,5.8-12.8,12.8-12.8h44.7c7.1,0,12.8,5.8,12.8,12.8V78.4z"></path></svg></span>
            </a>
            <a class="u-social-url" target="_blank" title="Custom" href=""><span
                    class="u-icon u-social-custom u-social-icon u-text-white u-icon-6"><svg class="u-svg-link"
                                                                                            preserveAspectRatio="xMidYMin slice"
                                                                                            viewBox="0 0 512 512"
                                                                                            style=""><use
                    xlink:href="#svg-ff0d"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px"
                                                            id="svg-ff0d" style="enable-background:new 0 0 512 512;"><g><g><rect
                    y="160" width="114.496" height="352"></rect>
</g>
</g><g><g><path d="M426.368,164.128c-1.216-0.384-2.368-0.8-3.648-1.152c-1.536-0.352-3.072-0.64-4.64-0.896    c-6.08-1.216-12.736-2.08-20.544-2.08c-66.752,0-109.088,48.544-123.04,67.296V160H160v352h114.496V320    c0,0,86.528-120.512,123.04-32c0,79.008,0,224,0,224H512V274.464C512,221.28,475.552,176.96,426.368,164.128z"></path>
</g>
</g><g><g><circle cx="56" cy="56" r="56"></circle>
</g>
</g></svg></span>
            </a>
            <a class="u-social-url" target="_blank" title="Custom" href=""><span
                    class="u-icon u-social-custom u-social-icon u-text-white u-icon-7"><svg class="u-svg-link"
                                                                                            preserveAspectRatio="xMidYMin slice"
                                                                                            viewBox="0 0 511.977 511.977"
                                                                                            style=""><use
                    xlink:href="#svg-a3cb"></use></svg><svg class="u-svg-content" viewBox="0 0 511.977 511.977" x="0px"
                                                            y="0px" id="svg-a3cb"
                                                            style="enable-background:new 0 0 511.977 511.977;"><g><g><path
                    d="M262.948,0C122.628,0,48.004,89.92,48.004,187.968c0,45.472,25.408,102.176,66.08,120.16    c6.176,2.784,9.536,1.6,10.912-4.128c1.216-4.352,6.56-25.312,9.152-35.2c0.8-3.168,0.384-5.92-2.176-8.896    c-13.504-15.616-24.224-44.064-24.224-70.752c0-68.384,54.368-134.784,146.88-134.784c80,0,135.968,51.968,135.968,126.304    c0,84-44.448,142.112-102.208,142.112c-31.968,0-55.776-25.088-48.224-56.128c9.12-36.96,27.008-76.704,27.008-103.36    c0-23.904-13.504-43.68-41.088-43.68c-32.544,0-58.944,32.224-58.944,75.488c0,27.488,9.728,46.048,9.728,46.048    S144.676,371.2,138.692,395.488c-10.112,41.12,1.376,107.712,2.368,113.44c0.608,3.168,4.16,4.16,6.144,1.568    c3.168-4.16,42.08-59.68,52.992-99.808c3.968-14.624,20.256-73.92,20.256-73.92c10.72,19.36,41.664,35.584,74.624,35.584    c98.048,0,168.896-86.176,168.896-193.12C463.62,76.704,375.876,0,262.948,0z"></path>
</g>
</g></svg></span>
            </a>
        </div>
    </div>
</section>
<section class="u-align-center u-clearfix u-palette-2-base u-section-2" id="carousel_adf2">
    <img src="/images/eee-min.jpg" th:href="@{images/eee-min.jpg}" alt=""
         class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1980" data-image-height="1320">
    <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-white u-list-item-1">
                <div class="u-container-layout u-similar-container u-container-layout-1"><span
                        class="u-icon u-icon-circle u-palette-2-base u-spacing-22 u-text-white u-icon-1"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use
                        xlink:href="#svg-15d6"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512"
                                                                id="svg-15d6"><g><path
                        d="m497 462c-19.598 0-30.047 6.931-38.442 12.5-6.81 4.517-11.308 7.5-21.861 7.5s-15.051-2.983-21.86-7.5c-8.396-5.569-18.845-12.5-38.443-12.5-19.591 0-30.034 6.933-38.427 12.503-6.801 4.515-11.295 7.497-21.835 7.497-10.523 0-15.012-2.981-21.804-7.494-8.389-5.571-18.826-12.506-38.407-12.506-19.587 0-30.028 6.933-38.418 12.504-6.799 4.514-11.29 7.496-21.824 7.496-10.529 0-15.019-2.981-21.814-7.495-8.389-5.571-18.829-12.505-38.413-12.505s-30.023 6.934-38.412 12.505c-6.796 4.514-11.285 7.495-21.814 7.495-10.528 0-15.018-2.981-21.813-7.495-8.39-5.571-18.829-12.505-38.413-12.505-8.284 0-15 6.716-15 15s6.716 15 15 15c10.529 0 15.019 2.981 21.814 7.495 8.389 5.571 18.829 12.505 38.412 12.505 19.584 0 30.023-6.934 38.412-12.505 6.796-4.514 11.285-7.495 21.814-7.495s15.019 2.981 21.814 7.495c8.389 5.571 18.828 12.505 38.412 12.505 19.587 0 30.028-6.933 38.418-12.504 6.799-4.514 11.29-7.496 21.824-7.496 10.524 0 15.012 2.981 21.805 7.494 8.388 5.571 18.825 12.506 38.405 12.506 19.591 0 30.034-6.933 38.427-12.503 6.802-4.515 11.295-7.497 21.835-7.497 10.554 0 15.052 2.983 21.861 7.5 8.396 5.569 18.844 12.5 38.442 12.5s30.048-6.931 38.443-12.5c6.81-4.517 11.308-7.5 21.86-7.5 8.284 0 15-6.716 15-15s-6.714-15-14.998-15z"></path><circle
                        cx="256" cy="147" r="15"></circle><circle cx="316" cy="147" r="15"></circle><circle cx="196"
                                                                                                            cy="147"
                                                                                                            r="15"></circle><path
                        d="m15 422c10.529 0 15.019 2.981 21.814 7.495 8.389 5.571 18.829 12.505 38.412 12.505 19.584 0 30.023-6.934 38.412-12.505 6.796-4.514 11.285-7.495 21.814-7.495s15.019 2.981 21.814 7.495c8.389 5.571 18.828 12.505 38.412 12.505 19.587 0 30.028-6.933 38.418-12.504 6.799-4.514 11.29-7.496 21.824-7.496 10.524 0 15.012 2.981 21.805 7.494 8.388 5.571 18.825 12.506 38.405 12.506 19.591 0 30.034-6.933 38.427-12.503 6.802-4.515 11.295-7.497 21.835-7.497 10.554 0 15.052 2.983 21.861 7.5 8.396 5.569 18.844 12.5 38.442 12.5s30.048-6.931 38.443-12.5c6.81-4.517 11.308-7.5 21.86-7.5 8.284 0 15-6.716 15-15s-6.716-15-15-15c-19.598 0-30.047 6.931-38.442 12.5-6.81 4.517-11.308 7.5-21.861 7.5s-15.051-2.983-21.86-7.5c-4.823-3.2-10.335-6.842-17.859-9.368l43.038-112.784c2.898-7.598-.784-16.121-8.304-19.218l-50.71-20.881v-155.249c0-8.284-6.716-15-15-15h-45v-57c0-8.284-6.716-15-15-15h-100c-8.284 0-15 6.716-15 15v57h-45c-8.284 0-15 6.716-15 15v155.249l-50.711 20.881c-7.514 3.094-11.198 11.608-8.309 19.203l42.909 112.799c-7.52 2.527-13.029 6.172-17.849 9.373-6.796 4.514-11.285 7.495-21.814 7.495-10.528 0-15.018-2.981-21.813-7.495-8.39-5.571-18.829-12.505-38.413-12.505-8.284 0-15 6.716-15 15s6.716 15 15 15zm350.77-29.237c-13.019 1.943-21.077 7.275-27.804 11.74-6.801 4.515-11.295 7.497-21.835 7.497-10.523 0-15.012-2.981-21.804-7.494-5.918-3.931-12.875-8.53-23.327-10.904v-164.204l135.775 55.908zm-144.77-362.763h70v42h-70zm-60 72h190v127.896l-89.289-36.766c-3.658-1.506-7.764-1.506-11.422 0l-89.289 36.766zm80 127.398v164.168c-10.545 2.362-17.547 6.986-23.497 10.937-6.799 4.514-11.29 7.496-21.824 7.496-10.529 0-15.019-2.981-21.814-7.495-6.722-4.464-14.774-9.794-27.779-11.74l-40.876-107.452z"></path>
</g></svg></span>
                    <h4 class="u-custom-font u-text u-text-palette-2-base u-text-1">Shipping</h4>
                    <p class="u-text u-text-2">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
                <div class="u-container-layout u-similar-container u-container-layout-2"><span
                        class="u-icon u-icon-circle u-palette-2-base u-spacing-22 u-text-white u-icon-2"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use
                        xlink:href="#svg-5f48"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px"
                                                                y="0px" id="svg-5f48"
                                                                style="enable-background:new 0 0 512 512;"><g><g><path
                        d="M150.24,375.99l-64-27.2c-8.064-3.456-17.504,0.352-20.96,8.48s0.32,17.536,8.48,20.96l64,27.2    c2.016,0.864,4.16,1.28,6.24,1.28c6.208,0,12.128-3.648,14.72-9.76C162.176,388.822,158.4,379.414,150.24,375.99z"></path>
</g>
</g><g><g><path d="M511.776,111.254c-0.096-1.632-0.192-3.264-0.8-4.896c-0.352-0.928-0.992-1.568-1.504-2.4    c-0.352-0.576-0.608-1.088-0.992-1.6c-1.792-2.336-4-4.128-6.656-5.152c-0.096-0.032-0.128-0.128-0.224-0.16l-256-95.968    c-3.872-1.504-8.128-1.408-11.904,0.224l-224,95.968c-0.224,0.096-0.32,0.352-0.544,0.448c-2.208,1.056-4.064,2.688-5.6,4.704    c-0.448,0.576-0.832,1.088-1.216,1.728c-0.32,0.544-0.8,0.928-1.056,1.536c-0.864,2.048-1.28,4.16-1.28,6.272v0.032v288    c0,6.4,3.808,12.192,9.696,14.72l224,96h0.032c1.952,0.832,4.064,1.28,6.272,1.28c1.92,0,3.808-0.352,5.632-1.024l0.576-0.224    c0,0,0,0,0.032,0l255.392-95.776c6.24-2.336,10.368-8.32,10.368-14.976v-288C512,111.702,511.776,111.51,511.776,111.254z     M224,471.702L32,389.43V136.277l192,82.272V471.702z M240.384,190.742L56.64,111.99l183.744-78.72l210.048,78.72l-50.08,18.784    L310.56,90.55c-4.544-2.048-9.728-1.824-14.048,0.544L233.76,117.75c-5.92,2.496-9.76,8.384-9.76,14.816    c0,6.464,3.904,12.32,9.92,14.784l58.208,24.032L240.384,190.742z M352,183.062l32-12v77.984l-32,12V183.062z M336.064,154.87    l-54.72-22.56L304,122.678l53.76,24.064L336.064,154.87z M480,388.886l-224,84V219.062l64-24v89.088    c0,5.248,2.592,10.144,6.88,13.152c2.72,1.888,5.888,2.848,9.12,2.848c1.888,0,3.808-0.352,5.632-1.024l64-24    c6.24-2.368,10.368-8.32,10.368-14.976V159.062l64-24V388.886z"></path>
</g>
</g></svg></span>
                    <h4 class="u-custom-font u-text u-text-palette-2-base u-text-3">Logistics</h4>
                    <p class="u-text u-text-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
                <div class="u-container-layout u-similar-container u-container-layout-3"><span
                        class="u-icon u-icon-circle u-palette-2-base u-spacing-22 u-text-white u-icon-3"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use
                        xlink:href="#svg-cea6"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px"
                                                                y="0px" id="svg-cea6"
                                                                style="enable-background:new 0 0 512 512;"><g><g><path
                        d="M386.689,304.403c-35.587,0-64.538,28.951-64.538,64.538s28.951,64.538,64.538,64.538    c35.593,0,64.538-28.951,64.538-64.538S422.276,304.403,386.689,304.403z M386.689,401.21c-17.796,0-32.269-14.473-32.269-32.269    c0-17.796,14.473-32.269,32.269-32.269c17.796,0,32.269,14.473,32.269,32.269C418.958,386.738,404.485,401.21,386.689,401.21z"></path>
</g>
</g><g><g><path d="M166.185,304.403c-35.587,0-64.538,28.951-64.538,64.538s28.951,64.538,64.538,64.538s64.538-28.951,64.538-64.538    S201.772,304.403,166.185,304.403z M166.185,401.21c-17.796,0-32.269-14.473-32.269-32.269c0-17.796,14.473-32.269,32.269-32.269    c17.791,0,32.269,14.473,32.269,32.269C198.454,386.738,183.981,401.21,166.185,401.21z"></path>
</g>
</g><g><g><path d="M430.15,119.675c-2.743-5.448-8.32-8.885-14.419-8.885h-84.975v32.269h75.025l43.934,87.384l28.838-14.5L430.15,119.675z"></path>
</g>
</g><g><g><rect x="216.202" y="353.345" width="122.084" height="32.269"></rect>
</g>
</g><g><g><path d="M117.781,353.345H61.849c-8.912,0-16.134,7.223-16.134,16.134c0,8.912,7.223,16.134,16.134,16.134h55.933    c8.912,0,16.134-7.223,16.134-16.134C133.916,360.567,126.693,353.345,117.781,353.345z"></path>
</g>
</g><g><g><path d="M508.612,254.709l-31.736-40.874c-3.049-3.937-7.755-6.239-12.741-6.239H346.891V94.655    c0-8.912-7.223-16.134-16.134-16.134H61.849c-8.912,0-16.134,7.223-16.134,16.134s7.223,16.134,16.134,16.134h252.773v112.941    c0,8.912,7.223,16.134,16.134,16.134h125.478l23.497,30.268v83.211h-44.639c-8.912,0-16.134,7.223-16.134,16.134    c0,8.912,7.223,16.134,16.134,16.134h60.773c8.912,0,16.134-7.223,16.135-16.134V264.605    C512,261.023,510.806,257.538,508.612,254.709z"></path>
</g>
</g><g><g><path d="M116.706,271.597H42.487c-8.912,0-16.134,7.223-16.134,16.134c0,8.912,7.223,16.134,16.134,16.134h74.218    c8.912,0,16.134-7.223,16.134-16.134C132.84,278.82,125.617,271.597,116.706,271.597z"></path>
</g>
</g><g><g><path d="M153.815,208.134H16.134C7.223,208.134,0,215.357,0,224.269s7.223,16.134,16.134,16.134h137.681    c8.912,0,16.134-7.223,16.134-16.134S162.727,208.134,153.815,208.134z"></path>
</g>
</g><g><g><path d="M180.168,144.672H42.487c-8.912,0-16.134,7.223-16.134,16.134c0,8.912,7.223,16.134,16.134,16.134h137.681    c8.912,0,16.134-7.223,16.134-16.134C196.303,151.895,189.08,144.672,180.168,144.672z"></path>
</g>
</g></svg></span>
                    <h4 class="u-custom-font u-text u-text-palette-2-base u-text-5">High quality<br>
                    </h4>
                    <p class="u-text u-text-6">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white">
                <div class="u-container-layout u-similar-container u-container-layout-4"><span
                        class="u-icon u-icon-circle u-palette-2-base u-spacing-22 u-text-white u-icon-4"><svg
                        class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use
                        xlink:href="#svg-83d7"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px"
                                                                y="0px" id="svg-83d7"
                                                                style="enable-background:new 0 0 512 512;"><g><g><path
                        d="M501.905,10.593C489.743-1.57,468.721-2.766,441.099,7.133c-18.995,6.81-38.919,18.222-48.451,27.754l-76.55,76.55    L64.116,71.859L0,135.975l209.501,82.059l-67.266,67.266l-95.472,5.591L0.984,336.67l103.609,49.994L75.567,415.69l21.24,21.24    l28.987-28.987l50.043,103.56l45.768-45.769l5.592-95.472l68.395-68.395l82.043,209.459l64.115-64.116l-39.57-251.933    l75.43-75.431c9.532-9.531,20.945-29.455,27.755-48.451C515.264,43.781,514.068,22.754,501.905,10.593z M53.706,124.751    l20.846-20.846l215.268,33.811l-57.136,57.136L53.706,124.751z M409.705,436.776l-20.845,20.846l-70.087-178.935l57.128-57.128    L409.705,436.776z M477.088,61.262c-5.739,16.012-15.224,31.853-20.718,37.347L197.88,357.101l-5.592,95.472l-7.797,7.797    l-36.202-74.918l26.113-26.113l-21.24-21.24l-26.07,26.068L52.137,328l7.788-7.788l95.472-5.591L413.888,56.128    c5.495-5.495,21.336-14.977,37.348-20.718c18.176-6.516,27.82-5.186,29.429-3.577C482.272,33.441,483.604,43.083,477.088,61.262z"></path>
</g>
</g></svg></span>
                    <h4 class="u-custom-font u-text u-text-palette-2-base u-text-7">Air Charters<br>
                    </h4>
                    <p class="u-text u-text-8">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum</p>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-ea5b">
    <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Lorem ipsum dolor sit amet, consectetur
            adipiscing elit nullam nunc justo sagittis suscipit ultrices.</p>
        <img class="u-image u-image-default u-image-1" src="/static/images/1.svg" th:href="@{/static/images/1.svg}" th:data-image-width="400"
             th:data-image-height="265">
    </div>
</footer>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates"  target="_blank">
        <span>Website Templates</span>
    </a>
    <p class="u-text">
        <span>created with</span>
    </p>
    <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
    </a>.
</section>
<script class="u-script" type="text/javascript" src="/static/javascript/jquery-1.9.1.min.js"
        th:href="@{javascript/jquery-1.9.1.min.js}" defer=""></script>
<script class="u-script" type="text/javascript" src="/static/javascript/nicepage.js" th:href="@{javascript/nicepage.js}"
        defer=""></script>
<script type="application/ld+json">{
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": ""
}</script>
</body>
</html>