<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Employee</title>

</head>




<img src="/static/images/1.jpg" alt="" th:href="@{/images/1.jpg}">"

<nav class="navbar">
    <!-- LOGO -->
    <div class="logo">ADMIN</div>
    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle"/>
        <label for="checkbox_toggle" class="hamburger">&#9776;</label>
        <!-- NAVIGATION MENUS -->
        <div class="menu">

            <li class="services">
                <a href="#" th:href="@{/shipments}">SHIPMENTS</a>
                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="# " th:href="@{/shipments/new}">CREATE </a></li>
                    <li><a href="#" th:href="@{/shipments/{id}/update}">UPDATE </a></li>
                    <li><a href="#" th:href="@{/shipments}">VIEW ALL</a></li>
                    <li><a href="#" th:href="@{/shipments}">ON THE WAY</a></li>


                </ul>
            </li>
            <li class="services">
                <a href="#" th:href="@{/parcels}">PARCELS</a>
                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="# " th:href="@{/parcels/new}">CREATE </a></li>
                    <li><a href="#" th:href="@{/parcels/{id}/update}">UPDATE </a></li>

                    <li><a href="#" th:href="@{/parcels}">VIEW ALL</a></li>
                    <li><a href="#" th:href="@{/parcels}">ADD</a></li>
                    <li><a href="#" th:href="@{/parcels}">REMOVE</a></li>

                </ul>
            </li>
            </li>
            <li class="services">
                <a href="#" th:href="@{/warehouses}">WAREHOUSES</a>
                <!-- DROPDOWN MENU -->
                <ul class="dropdown">
                    <li><a href="# " th:href="@{/warehouses/new}">CREATE </a></li>
                    <li><a href="#" th:href="@{/warehouse/{id}/update}">UPDATE </a></li>
                    <li><a href="#" th:href="@{/warehouses}">VIEW ALL</a></li>
                    <li><a href="#" th:href="@{/warehouses}">NEXT SHIPMENT</a></li>



                </ul>
            </li>

        </div>
    </ul>
</nav>




</body>
</html>


