<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" style="= font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Individual consultation">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>index-log</title>
    <link rel="stylesheet" href="/static/css/nicepage.css" th:href="@{css/nicepage.css}" media="screen">
      <link rel="prev" href="index.html" >
<link rel="stylesheet" href="/css/log.css" th:href="@{css/log.css}"  media="screen">
    <script class="u-script" type="text/javascript" src="/static/javascript/jquery-1.9.1.min.js" th:href="@{jquery-1.9.1.min.js}" defer=""></script>
    <script class="u-script" type="text/javascript" src="/static/javascript/nicepage_log.js" th:href="@{nicepage_log.js}" defer=""></script>
    <meta name="generator" content="Nicepage 3.30.2, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" th:href="@{https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i}">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta:400" th:href="@{https://fonts.googleapis.com/css?family=Allerta:400}">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="index-log">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="https://website962462.nicepage.io/log.html?version=8d9518b8-8329-464e-ae90-2247f46e783b" >
    <section class="u-black u-clearfix u-section-1" id="sec-5d51">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-black u-container-style u-group u-opacity u-opacity-70 u-radius-50 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1"><span class="u-icon u-icon-circle u-palette-2-base u-spacing-10 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 45.532 45.532" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-862c"></use></svg><svg class="u-svg-content" viewBox="0 0 45.532 45.532" x="0px" y="0px" id="svg-862c" style="enable-background:new 0 0 45.532 45.532;"><g><path d="M22.766,0.001C10.194,0.001,0,10.193,0,22.766s10.193,22.765,22.766,22.765c12.574,0,22.766-10.192,22.766-22.765   S35.34,0.001,22.766,0.001z M22.766,6.808c4.16,0,7.531,3.372,7.531,7.53c0,4.159-3.371,7.53-7.531,7.53   c-4.158,0-7.529-3.371-7.529-7.53C15.237,10.18,18.608,6.808,22.766,6.808z M22.761,39.579c-4.149,0-7.949-1.511-10.88-4.012   c-0.714-0.609-1.126-1.502-1.126-2.439c0-4.217,3.413-7.592,7.631-7.592h8.762c4.219,0,7.619,3.375,7.619,7.592   c0,0.938-0.41,1.829-1.125,2.438C30.712,38.068,26.911,39.579,22.761,39.579z"></path>
</g></svg></span>
            <h1 class="u-align-center u-text u-text-1">User Log In</h1>
            <a href="" class="u-border-2 u-border-active-palette-2-base u-border-hover-palette-3-base u-border-palette-2-base u-btn u-button-style u-login-control u-login-forgot-password u-none u-text-palette-2-base u-btn-1">Forgot password?</a>
          </div>
        </div>
        <div class="u-form u-login-control u-form-1">
          <form action="#" method="post" th:action="@{/auth/login}" th:object="${login}"  class="u-clearfix u-form-custom-backend u-form-spacing-50 u-form-vertical u-inner-form" source="custom" name="form-3" style="padding: 18px;">
            <div class="u-form-group u-form-name">
              <label for="username-5b0a" class="u-form-control-hidden u-label" ></label>
              <input  type=email  th:field="*{email}" placeholder="Enter your Email" id="username-5b0a" name="username" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-43 u-white" required="">
            </div>
            <div class="u-form-group u-form-password">
              <label for="password-5b0a" class="u-form-control-hidden u-label" th:errors="*{password}"  ></label>
              <input type="text" th:field="*{password}" placeholder="Enter your Password" id="password-5b0a" name="password" class="u-border-2 u-border-white u-input u-input-rectangle u-radius-43 u-white" required="">
            </div>
            <div class="u-form-checkbox u-form-group">
              <input type="checkbox" id="checkbox-5b0a" name="remember" value="On">
              <label for="checkbox-5b0a" class="u-label">Remember me</label>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-active-palette-3-base u-border-none u-btn u-btn-submit u-button-style u-custom-font u-hover-palette-4-base u-palette-2-base u-btn-2">Login</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <input type="hidden" id="siteId" name="siteId" value="962462">
            <input type="hidden" id="pageId" name="pageId" value="962463">
            <input type="hidden" value="" name="recaptchaResponse">
          </form>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-ea5b"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
        <span>Website Templates</span>
      </a>
      <p class="u-text">
        <span>created with</span>
      </p>
      <a class="u-link" href="" target="_blank">
        <span>Website Builder Software</span>
      </a>. 
    </section>

  </body>
</html>