<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="title-view">All PARCELS</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}"
          th:crossorigin="anonymous">
   me/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" th:href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" th:integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" th:crossorigin="anonymous">-->
</head>

<body class="body-parcel">
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
<!--    <li class ="two" th:if="${isEmployee}"><h3><a href="#" th:href="@{/parcels/new}" th:text="#{navigation.create-parcel}">ALL-->
<!--        PARCELS</a></h3></li>-->
</ul>

<div th:if="${parcels.isEmpty()}">
    <h2 class="two" th:text="#{parcels.title.empty}">No Parcels</h2>

</div>


<table class="table table-striped table-dark" th:unless="${parcels.isEmpty()}">
    <h2 class="two" th:text="#{parcel.label.title}">All Parcels</h2>

    <thead>
    <tr>
        <th scope="col" th:text="#{parcel.label.parcelId}"></th>
        <th scope="col" th:text="#{parcel.label.userId}"></th>
        <th scope="col" th:text="#{parcel.label.originWarehouse}"></th>
        <th scope="col" th:text="#{parcel.label.destinationWarehouse}"></th>
        <th scope="col" th:text="#{parcel.label.weight}"></th>
        <th scope="col" th:text="#{parcel.label.category}"></th>
        <th scope="col" th:text="#{parcel.label.deliver}"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="parcel :${parcels}">
        <td class="cell">
            <a href="#" th:href="@{/parcels/{id}(id=${parcel.getId()})}" th:text="${parcel.getId()}">Parcel ID</a>
        </td>
        <td class="cell">
            <a href="#" th:text="${parcel.getUser().getId()}">User EMmail</a>
        </td>
        <td class="cell" th:text="${parcel.getOriginWarehouse().getAddress().getCity().getCityName()}">Origin
            Warehouse
        </td>

        <td th:text="${parcel.getDestinationWarehouse().getAddress().getCity().getCityName()}">Destination Warehouse
        </td>
        <td th:text="${parcel.getWeight()}">Weight</td>
        <td th:text="${parcel.getCategory().getName()}">Category</td>
        <td th:text="${parcel.isDeliverToUser()}">Deliver to user</td>
    </tr>

    </tbody>
</table>
</body>

</html>