<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Parcel Update</title>
    <link href="/static/css/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body class="parcel-update">

<div>
    <h3><a href="#" th:href="@{/parcels/}" th:text="#{navigation.all-parcels}">Browse all Parcels</a></h3>
</div>
</br></br>
<h2>Edit Parcel</h2>

<form th:replace="parcel-new.html :: parcel-form"></form>


</body>
</html>