<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
<script src="/static/javascript/parcel.js" th:href="@{/javascript/parcel.js}"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="'Parcel id '+${parcel.getId()}">Parcel</title>
</head>
<body class="one">
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/parcels}" th:text="#{navigation.all-parcels}">Browse all Parcels</a></h3></li>
    </br>
    </br>
</ul>
<h3 th:text="'UserID: ' + ${parcel.getUser().getId()}">UserID</h3>

<h3 th:text="'Origin Warehouse: ' + ${parcel.getOriginWarehouse().getAddress().getCity().getCityName()}">Origin Warehouse</h3>
<h3 th:text="'Destination Warehouse: ' + ${parcel.getDestinationWarehouse().getAddress().getCity().getCityName()}">Destination Warehouse</h3>
<h3 th:text="'Weight: ' + ${parcel.getWeight()}">Weight</h3>
<h3 th:text="'Category: ' + ${parcel.getCategory().getName()}">Category</h3>
<h3 th:text="'Deliver Status: ' + ${parcel.isDeliverToUser()}">Deliver to user</h3>

<h3>
    </br>
    </br>
    <a th:if="${isEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a th:if="${isEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>