<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Parcel </title>
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
    <script src="/static/javascript/parcel.js" th:href="@{/javascript/parcel.js}"></script>
</head>
<body class="parcel-new">
<h3>CREATE NEW PARCELS</h3>





<form class=parcel-form th:fragment="parcel-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${parcel}" method="post">
    <label th:text="#{parcel.label.userId}">User</label>
    <br/>

    <label>
        <input class ="a" th:type="text" th:field="*{userId}" >
    </label>
    <label class="error" th:errors="*{userId}">User error placeholder</label>

    <br/><br/>
    <label th:text="#{parcel.label.originWarehouse}">Origin Warehouse</label>
    <br/>
    <label>
        <select th:field="*{originWarehouseId}">
            <option th:each="origin : ${warehouses}"
                    th:value="${origin.getId()}"
                    th:text="${origin.getAddress().getCity().getCityName()}">
                OriginWarehouse
            </option>
        </select>
    </label>

    <label class="error" th:errors="*{originWarehouseId}">error placeholder</label>
    <br><br>
    <label th:text="#{parcel.label.destinationWarehouse}">Destination Warehouse</label>
    <br>
    <label>
        <select th:field="*{destinationWarehouseId}">
            <option th:each="destination : ${warehouses}"
                    th:value="${destination.getId()}"
                    th:text="${destination.getAddress().getCity().getCityName()}">
                DestinationWarehouse
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{destinationWarehouseId}">error placeholder</label>
    <br><br>
    <label th:text="#{parcel.label.weight}">Weight</label>
    <br/>
    <label>
        <input th:type="text" th:field="*{weight}">
    </label>
    <label class="error" th:errors="*{weight}">Weight error placeholder</label>

    </br>
    <br>
    <label th:text="#{parcel.label.category}">Category</label>
    <br/>
    <label>
        <select th:field="*{categoryId}">
            <option th:each="category : ${categories}"
                    th:value="${category.getId()}"
                    th:text="${category.getName()}">
                Category
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{categoryId}"> Category error placeholder</label>

    <br><br>
    <label th:text="#{parcel.label.deliver}">Deliver to user</label>
    <br/>
    <input th:type="text" th:field="*{deliverToUser}">
    <label class="error" th:errors="*{deliverToUser}">Deliver error placeholder</label>


    <br/><br/>

    <button class="button button1">SAVE</button>
<!--    <div class="login-page">-->
<!--        <div class="form">-->
<!--            <form class="register-form">-->
<!--                    <label type="text" th:text="#{parcel.label.userId}">User</label>-->
<!--                    <br/>-->

<!--                <label>-->
<!--                    <input th:type="text" th:field="*{userId}" >-->
<!--                </label>-->
<!--                <label class="error" th:errors="*{userId}">User error placeholder</label>-->

<!--                    <br/><br/>-->
<!--                    <label th:text="#{parcel.label.originWarehouse}">Origin Warehouse</label>-->
<!--                    <br/>-->
<!--                <label>-->
<!--                    <select th:field="*{originWarehouseId}">-->
<!--                        <option th:each="origin : ${warehouses}"-->
<!--                                th:value="${origin.getId()}"-->
<!--                                th:text="${origin.getAddress().getCity().getCityName()}">-->
<!--                            OriginWarehouse-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </label>-->

<!--                <label class="error" th:errors="*{originWarehouseId}">error placeholder</label>-->
<!--                    <br><br>-->
<!--                    <label th:text="#{parcel.label.destinationWarehouse}">Destination Warehouse</label>-->
<!--                    <br>-->
<!--                    <label>-->
<!--                        <select th:field="*{destinationWarehouseId}">-->
<!--                            <option th:each="destination : ${warehouses}"-->
<!--                                    th:value="${destination.getId()}"-->
<!--                                    th:text="${destination.getAddress().getCity().getCityName()}">-->
<!--                                DestinationWarehouse-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </label>-->
<!--                    <label class="error" th:errors="*{destinationWarehouseId}">error placeholder</label>-->
<!--                    <br><br>-->
<!--                    <label th:text="#{parcel.label.weight}">Weight</label>-->
<!--                    <br/>-->
<!--                    <input th:type="text" th:field="*{weight}">-->
<!--                    <label class="error" th:errors="*{weight}">Weight error placeholder</label>-->

<!--                    </br>-->
<!--                    <br>-->
<!--                    <label th:text="#{parcel.label.category}">Category</label>-->
<!--                    <br/>-->
<!--                <label>-->
<!--                    <select th:field="*{categoryId}">-->
<!--                        <option th:each="category : ${categories}"-->
<!--                                th:value="${category.getId()}"-->
<!--                                th:text="${category.getName()}">-->
<!--                            Category-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </label>-->
<!--                </label>-->
<!--                    <label class="error" th:errors="*{categoryId}"> Category error placeholder</label>-->

<!--                    <br><br>-->
<!--                    <label th:text="#{parcel.label.deliver}">Deliver to user</label>-->
<!--                    <br/>-->
<!--                <label>-->
<!--                    <input th:type="text" th:field="*{deliverToUser}">-->
<!--                </label>-->
<!--                <label class="error" th:errors="*{deliverToUser}">Deliver error placeholder</label>-->


<!--                    <br/><br/>-->
<!--                <p class="message">Already registered? <a href="#">Sign In</a></p>-->
<!--            </form>-->
<!--           /-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="custom-select">-->

<!--        <label  th:text="#{parcel.label.originWarehouse}"><span class="sr-only">Select a word:</span>Origin Warehouse>-->

<!--        <select th:field="*{originWarehouseId}" name="words" id="id-1">-->
<!--            <option  th:each="origin : ${warehouses}"-->
<!--                     th:value="${origin.getId()}"-->
<!--                     th:text="${origin.getAddress().getCity().getCityName()}">&#45;&#45; choose &#45;&#45;</option>-->
<!--        </select>-->
<!--            </label>-->
<!--        <label class="error" th:errors="*{originWarehouseId}">error placeholder</label>-->
<!--            <label  th:text="#{parcel.label.destinationWarehouse}">Destination Warehouse><span class="sr-only">Select a word:</span>-->
<!--            <select th:field="*{destinationWarehouseId}" name="words" id="id-2">-->
<!--                <option  th:each="destination : ${warehouses}"   th:value="${destination.getId()}"  th:text="${destination.getAddress().getCity().getCityName()}">&#45;&#45; choose &#45;&#45;</option>-->
<!--                </select>-->
<!--                </label>-->



<!--    </div>-->


<!--    <div class="custom-select">-->

<!--        <label class="svg"><span class="sr-only">Select a word:</span>-->
<!--            <select name="words" id="id-3">-->
<!--                <option value="">&#45;&#45; choose &#45;&#45;</option>-->
<!--                <option value="lorem">Lorem.</option>-->
<!--                <option value="voluptate">Voluptate?</option>-->
<!--                <option value="quia">Quia.</option>-->
<!--                <option value="officia">Officia.</option>-->
<!--                <option value="perferendis">Perferendis Srensis.</option>-->
<!--            </select>-->
<!--        </label>-->

<!--    </div>-->


    <!-- width: 500px;height: 500px gives you the size of the form -->
    <!-- style="border: solid;" gives you a nice border in the form -->
<!--    <div class="dropdown-wrapper">-->
<!--        <div class="container">-->
<!--            <form>-->
<!--                <span  th:text="#{parcel.label.originWarehouse}" class="title">Platform de Streaming</span>-->
<!--                <div th:text="#{parcel.label.originWarehouse}" class="select-btn-streaming">-->
<!--                    <select id="streaming"  th:field="*{originWarehouseId}">-->


<!--                        <option  th:each="origin : ${warehouses}"-->
<!--                                th:value="${origin.getId()}"-->
<!--                                th:text="${origin.getAddress().getCity().getCityName()}">-->
<!--                            OriginWarehouse-->
<!--                        </option>-->
<!--                    </select>-->
<!--                </div>-->
<!--                <div class="button_register">-->
<!--                    <input type="button" class="button_register_input" id="goBtnstreaming" value="Go to streaming"/>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->

    </form>
    </body>



</html>