<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/loginnew.css" th:href="@{/css/loginnew.css}">
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
    <script src="/static/javascript/loginnew.js" th:href="@{/javascript/loginnew.js}"></script>

</head>
<body>


<form action="#" th:action="@{/auth/register}" th:object="${register}" method="post">
<!--    <div class="main">-->
<!--        <h1>Registration</h1>-->
<!--        <div class="form1">-->
<!--            &lt;!&ndash;	Registration Form<br>!&ndash;&gt;-->
<!--            <form name="simple" onsubmit="return empty();" method="post" >-->
<!--                <input type="text" id="req3" placeholder="Email address" th:field="*{email}"><br><br>-->
<!--                &lt;!&ndash;<input type="text" id="req2" placeholder="Lastname"><br><br>&ndash;&gt;-->
<!--                <input type="password" id="req5" placeholder="Password" th:field="*{password}"><br>-->
<!--                &lt;!&ndash;<input type="text" id="req4" placeholder="Contact number" name="phone"><br><br>&ndash;&gt;-->
<!--                <input type="password" id="req6" placeholder="Confirm Password" th:field="*{passwordConfirm}"><br>-->
<!--                <input type="text" id="req1" placeholder="First name" th:field="*{firstName}"><br><br>-->
<!--                <input type="text" id="req4" placeholder="Last name" th:field="*{lastName}"><br><br>-->
<!--                <input type="text" id="req7" placeholder="Street name" th:field="*{streetName}"><br><br>-->
<!--                <select th:field="*{cityId}">&ndash;&gt;-->
<!--                            <option th:each="city : ${cities}"-->
<!--                                    th:value="${city.getId()}"-->
<!--                                    th:text="${city.getCityName()}">-->
<!--                                CityStyleOne-->
<!--                            </option>-->
<!--                D.O.B<br><input type="date" name="bday"><br><br>-->
<!--                &lt;!&ndash;Gender:-->
<!--                <br>-->
<!--                <input type="radio" name="gender">Male <input type="radio" name="gender">Female&ndash;&gt;-->
<!--                Gender:-->
<!--                <select id="selection">-->
<!--                    <option>Gender</option>-->
<!--                    <option>Male</option>-->
<!--                    <option>Female</option>-->
<!--                </select>-->
<!--                <br><br>-->
<!--                <input type="submit" value="Submit"-->
<!--                       onclick="emailValidate(document.getElementById('req3'),'Invalid Email id.'),/*isNumeric(document.getElementById('req4'),'Enter digits in contact no.'),*/Selection(document.getElementById('selection'),'Please select gender')">-->


<!--            </form>-->


        <div class="panel">
            <div class="state"><br><i class="fa fa-unlock-alt"></i><br><h1>REGISTRATION</h1></div>
            <div class="form">
                <label>
                    <input placeholder='Email' type="text" th:field="*{email}">
                </label>
                <label class="error" th:errors="*{email}"></label>
                <label>
                    <input placeholder='Password' type="password" th:field="*{password}">
                </label>
                <label class="error" th:errors="*{password}">Password error placeholder</label>
                <label>
                    <input placeholder='Confirm Password' type="password" th:field="*{passwordConfirm}">
                </label>
                <label class="error" th:errors="*{passwordConfirm}">Password error placeholder</label>
                <label>
                    <input  placeholder='First Name' type="text" th:field="*{firstName}"/>
                </label>
                <label class="error" th:errors="*{firstName}">First name error placeholder</label>
                <label>
                    <input placeholder='Last Name' type="text" th:field="*{lastName}"/>
                </label>
                <label class="error" th:errors="*{lastName}">First name error placeholder</label>
                <!--    <label class="error" th:errors="*{firstName}">First name error placeholder</label>-->
                <label>
                    <input placeholder='Street Name' type="text" th:field="*{streetName}"/>
                </label>
                <label class="error" th:errors="*{streetName}">Street name error placeholder</label>
                <label>
                    <select th:field="*{cityId}">-->
                                <option th:each="city : ${cities}"
                                        th:value="${city.getId()}"
                                        th:text="${city.getCityName()}">
                                    CityStyleOne
                                </option>
                            </select>
                </label>
                <label class="error" th:errors="*{cityId}">City error placeholder</label>
                <label >
                    <select th:field="*{countryId}" >-->
                                <option th:each="country : ${countries}"
                                        th:value="${country.getId()}"
                                        th:text="${country.getCountryName()}">
                                    CountryStyleOne
                                </option>
                            </select>
                </label>
                <label class="error" th:errors="*{countryId}">Country error placeholder</label>
                <input class="login" type="submit" value="REGISTRATION"/>
            </div>
            <div class="fack"><a href="#"><i class="fa fa-question-circle"></i>Forgot password?</a></div>
        </div>
    </form>

</form>
</body>
</html>