<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shipment Update</title>
    <link href="../static/css/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

<div>
    <h3><a href="#" th:href="@{/shipments}" th:text="#{navigation.all-shipments}">Browse all Shipments</a></h3>
</div>

<h2>Edit Shipment</h2>

<form th:replace="shipment-new.html :: shipment-form"></form>


</body>
</html>