<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Shipment Form</title>
    <link href="../static/css/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>

</head>
<body class="shipment-new">

<h3>CREATE NEW SHIPMENT</h3>

<form th:fragment="shipment-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${shipment}" method="post">
    <label th:text="#{shipment.label.originWarehouse}">Origin Warehouse</label>
    <br/>
    <select th:field="*{originWarehouseId}">
        <option th:each="origin : ${warehouses}"
                th:value="${origin.getId()}"
                th:text="${origin.getAddress().getCity().getCityName()}">
            OriginWarehouse1
        </option>
    </select>

    <label class="error" th:errors="*{originWarehouseId}">error placeholder</label>
    <br><br>
    <label th:text="#{shipment.label.destinationWarehouse}">Destination Warehouse</label>
    <br>
    <label>
        <select th:field="*{destinationWarehouseId}">
            <option th:each="destination : ${warehouses}"
                    th:value="${destination.getId()}"
                    th:text="${destination.getAddress().getCity().getCityName()}">
            DestinationWarehouse1
            </option>
        </select>
    </label>
    <label class="error" th:errors="*{destinationWarehouseId}">error placeholder</label>
    <br><br>

    <label th:text="#{shipment.label.departureDate}">Departure Date</label>
    <br>

    <label>
        <input type="date" th:field="*{departureDate}"/>
    </label>

    <label class="error" th:errors="*{departureDate}"></label>
    <br><br>
    <label th:text="#{shipment.label.arrivalDate}">Arrival Date</label>
    <br>
    <label>
        <input type="date" th:field="*{arrivalDate}"/>
    </label>

    <label class="error" th:errors="*{arrivalDate}"></label>

    <br><br>

    <input type="submit" value="Save"/>
</form>
</body>
</html>