
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Shipments</title>
    <link href="/static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body class="body-parcel">
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li th:if="${isEmployee}"><h3><a href="#" th:href="@{/shipments/new}" th:text="#{navigation.create-shipment}">Create a new Shipment</a></h3></li>
</ul>

<div th:if="${shipments.isEmpty()}">
    <h2 class="two" th:text="#{shipment.title.empty}">No Shipments</h2>
</div>



    <table class="table table-striped table-dark" th:unless="${shipments.isEmpty()}">
        <h2 class="two" th:text="#{shipments.title}">All Shipments</h2>

        <thead>
        <tr>
            <th scope="col" th:text="#{shipment.id}"></th>
            <th scope="col" th:text="#{shipment.label.originWarehouse}"></th>
            <th scope="col" th:text="#{shipment.label.destinationWarehouse}"></th>
            <th scope="col" th:text="#{shipment.label.departureDate}"></th>
            <th scope="col" th:text="#{shipment.label.arrivalDate}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="shipment : ${shipments}">
            <td class="cell">
                <a href="#" th:href="@{/shipments/{id}(id=${shipment.getId()})}" th:text="${shipment.getId()}">Shipment</a>
            </td>
            <td class="cell" th:text="${shipment.getOriginWarehouse().getAddress().getCity().getCityName()}">Origin Warehouse</td>
            <td class="cell" th:text="${shipment.getDestinationWarehouse().getAddress().getCity().getCityName()}">Destination Warehouse</td>
            <td class="cell" th:text="${shipment.departureDate}">Departure Date</td>
            <td class="cell" th:text="${shipment.arrivalDate}">Arrival Date</td>
        </tr>
        </tbody>
    </table>
</body>

</html>