<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
<script src="/static/javascript/parcel.js" th:href="@{/javascript/parcel.js}"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="'Shipment id '+${shipment.getId()}">Shipment</title>
</head>
<body class="one">
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/shipments}" th:text="#{navigation.all-shipments}">Browse all Shipments</a></h3></li>
</ul>

<h3 th:text="'Origin Warehouse: ' + ${shipment.getOriginWarehouse().getAddress().getCity().getCityName()}">Origin Warehouse</h3>
<h3 th:text="'Destination Warehouse' + ${shipment.getDestinationWarehouse().getAddress().getCity().getCityName()}">Destination Warehouse</h3>
<h3 th:text="'Departure Date: ' + ${shipment.getDepartureDate()}">Departure date</h3>
<h3 th:text="'Arrival Date: ' + ${shipment.getArrivalDate()}">Arrival date</h3>

<h3>
    <a th:if="${isEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a th:if="${isEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>