<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Warehouse </title>
    <link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
    <script src="/static/javascript/parcel.js" th:href="@{/javascript/parcel.js}"></script>
</head>
<body>
<h3>CREATE NEW WAREHOUSE</h3>
<br/>
<br/>

<form th:fragment="warehouse-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${warehouse}" method="post">
    <label th:text="#{warehouse.label.addressId}">AddressId</label>
    <br/>

    <input th:type="text" th:field="*{addressId}" >
    <label class="error" th:errors="*{addressId}">User error placeholder</label>

    <br/>  <br/>

    <button class="button button1">SAVE</button>

</form>
</body>

</html>
    <br/><br/>