<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/static/css/styles.css" th:href="@{/css/styles.css}">
<script src="/static/javascript/parcel.js" th:href="@{/javascript/parcel.js}"></script>
<head>
    <meta charset="UTF-8">
    <title th:text="'Warehouse id '+${warehouse.getId()}">Warehouse</title>
</head>
<body class="one">

<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li><h3><a href="#" th:href="@{/warehouses}" th:text="#{navigation.all-warehouses}">Browse all Warehouses</a></h3></li>
    </br>
    </br>
</ul>
<h3 th:text="'WarehouseID: ' + ${warehouse.getId()}">Warehouse Id</h3>

<h3 th:text="'Warehouse Address: ' + ${warehouse.getAddress().getCity().getCityName()}">Warehouse City</h3>

<h3>
    </br>
    </br>
    <a th:if="${isEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/update}">Update</a>
    <a th:if="${isEmployee}" href="#" th:href="@{__${#httpServletRequest.requestURI}__/delete}">Delete</a>
</h3>

</body>
</html>