<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All WAREHOUSES</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css}"
          th:crossorigin="anonymous">

</head>

<body class="body-warehouse">
<ul>
    <li><h3><a href="/" th:text="#{navigation.home}">Home</a></h3></li>
    <li th:if="${isEmployee}"><h3><a href="#" th:href="@{/warehouses/new}" th:text="#{navigation.create-warehouse}">ALL
        WAREHOUSES</a></h3></li>
</ul>

<div th:if="${warehouses.isEmpty()}">
    <h2 th:text="#{warehouse.title.empty}">No Warehouses</h2>

</div>

<table class="table table-striped table-dark" th:unless="${warehouses.isEmpty()}">
    <h2 th:text="#{warehouse.title}">All Warehouses</h2>

    <thead>
    <tr>
        <th scope="col" th:text="#{warehouse.label.warehouseId}"></th>
        <th scope="col" th:text="#{warehouse.label.address}"></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="warehouse :${warehouses}">
        <td class="cell">
            <a href="#" th:href="@{/warehouses/{id}(id=${warehouse.getId()})}" th:text="${warehouse.getId()}">Warehouse Id</a>
        </td>

        <td class="cell" th:text="${warehouse.getAddress().getCity().getCityName()}">Warehouse Address
        </td>

    </tr>

    </tbody>
</table>
</body>

</html>