<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/css/styles.css" th:href="@{/styles.css}" rel="stylesheet"/>
    <title>Edit Warehouse </title>
</head>
<body>
<div>
    <li><h3><a href="#" th:href="@{/warehouses/{id}/update}" th:text="#{navigation.all-warehouses}">Browse all warehouses</a></h3></li>
</div>
</br></br>
<h2>Edit Warehouse</h2>

<form th:replace="warehouse-new.html :: warehouse-form"></form>


</body>
</html>